<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="tech.zebrabg.roadsigns">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeScreenTabs"
            android:label="HomeScreenTabs"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".something"></activity>
        <activity
            android:name=".AllCardsGroupA"
            android:label="Група А"
            android:theme="@style/AppTheme.ActionBar">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="tech.zebrabg.roadsigns.HomeScreenTabs" />

        </activity>
        <activity
            android:name=".SingleCardGroupA"
            android:label="Обратно към Група А"
            android:theme="@style/AppTheme.ActionBar">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="tech.zebrabg.roadsigns.AllCardsGroupA" />
        </activity>


    </application>

</manifest>